<div class="container-fluid d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="row p-5 pt-0    d-flex align-items-center justify-content-center ">
    <div class="col-lg-4 text-center">
      <img src="../../assets/Vector@3x.png" alt="Vector Image" class="w-75" />
    </div>
    <div class="col-lg-8">
      <p>Full Stack Developer</p>
      <h1>DevRos</h1>
      <p class="w-75">
        Potřebujete vytvořit webové stránky? Při tvorbě webových stránek
        zajišťuji celkový design od návrhu až po realizaci. Perfektní technickou
        stránku zajišťuji též, aby všechno běželo přesně jak má. Kdyby Vás mé
        portfolio přípradně zkušenosti zaujaly - napište mi!
      </p>
      <div>
        <button type="button" class="btn btn-outline-primary m-2 btnOne" routerLink="/portfolio">Portfolio</button>
        <button type="button" class="btn btn-outline-primary btnOne"  routerLink="/contact">Contact</button>
      </div>
    </div>
  </div>
</div>
