.btnOne{
    border: white solid 1px;
    color: white;
    border-radius: 30px; /* Rounded corners */
    padding: 10px 20px; /* Adjust padding */}
.btnOne:hover{
    border: none;
    background-color: white;
    color: #333;
}