.headlineBackground{
    height: 150px; 
    width: 100%;
    background-color: #333333;
    border-bottom: solid hsl(0, 0%, 30%) 0.1px ;
    border-top:  solid hsl(0, 0%, 30%) 0.1px ;
}
.headlineBackground h2{
    background-color: #333333;
}
.btnOne{
    border: white solid 1px;
    color: white;
    border-radius: 30px; 
    padding: 10px 20px;
    
}
.btnOne:hover{
    border: none;
    background-color: white;
    color: #333;
}
p{
    color: var(--third-color);
}